<!-- EMAIL HEADER STARTS -->	
<thead>					
	<tr>
		<td>								
			<table class="emailHeaderWrapper" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 3px solid #D97B00; background-color: #6db0db;">
				<tr>
					<td colspan="4" bgcolor="#6db0db" height="10" border="0" cellspacing="0" cellpadding="0"></td>
				</tr>
				<tr>
					<td scope="col" width="15" class="spacer" bgcolor="#6db0db" border="0" cellspacing="0" cellpadding="0"></td>
					<td colspan="3" height="30" valign="middle" class="logo" bgcolor="#6db0db" border="0" cellspacing="0" cellpadding="0" style="color: #FFFFFF; font-size: 20px;">${exchangeFullName}</td>
				</tr>
		 		<tr>
		 			<td scope="col" width="15" height="34" bgcolor="#6db0db" class="spacer" border="0" cellspacing="0" cellpadding="0" ></td>
					<td valign="top" height="34" class="contactInfo" bgcolor="#6db0db" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #5A5A5A;">
						${exchangeAddress1}, ${cityName} ${stateCode} ${pinCode}
					</td>
					<td valign="top" height="34" class="contactInfo" bgcolor="#6db0db" style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 12px; text-align:right; color: #5A5A5A;">
						${exchangeURL}<br/>${exchangePhone}
					</td>
					<td scope="col" width="15" height="34" class="spacer" bgcolor="#6db0db" border="0" cellspacing="0" cellpadding="0"></td>
				</tr>
			</table>																
		</td>
	</tr>
</thead>
<!-- EMAIL HEADER ENDS -->	